{% extends 'base.html' %}
{% block content %}
<div class="card shadow m-2">

              <div class="card-header">
                  {{task.priority}}
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <small>{{task.date}}</small><br>
                  <p>{{task.taskname}}</p>
                  <footer class="card-footer">
                      <a href="{% url 'todoapp:delete' task.id %}" class="btn btn-danger">Done</a>
                      <a href="{% url 'todoapp:update' task.id %}" class="btn btn-success">Update</a>

                  </footer>
                </blockquote>
              </div>

            </div>

{% endblock %}